* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    background: #f6f6f6 url(http://f.cl.ly/items/0G3l1S3d0K39232G0p1W/generated.png) 0 0 repeat;
}

body {
    line-height: 1.5em;
    font-family: Verdana, Geneva, sans-serif; 
    background: #f6f6f6 url(http://f.cl.ly/items/0G3l1S3d0K39232G0p1W/generated.png) 0 0 repeat;
    font-size: 12px;
    color: #666;
}

a {
    text-decoration: none;
    color: #666;
}

:focus {
    outline: none;
}

::-moz-selection,
::selection {
    color: inherit;
    background: transparent;
};

#wrap {
    width: 100%;
    height: 100%;
    background: #f6f6f6 url(http://f.cl.ly/items/0G3l1S3d0K39232G0p1W/generated.png) 0 0 repeat;
    overflow: hidden;
}

nav {
    margin-left: 40px;
}

    nav a {
        background: #fff;
        border: solid 1px #ccc;
        padding: 3px 5px;
        display: inline-block;
        float: left;
        color: #ccc;
    }

    nav a:hover {
        background-color: #888;
        border-color: #888;
        color: #fff;
    }

    nav a:not(.selected):hover + a{
        border-left: solid 1px #888;
    }

    nav a:first-child{
        border-radius: 3px 0 0 3px;
        border-right: 0;
    }

    nav a:nth-child(2){
        border-right: 0;
    }

    nav a:last-child{
        border-radius: 0  3px 3px 0;
    }

    nav a.selected {
        background: #ccc;
        color: #fff;
        border-color: #ccc;
    }

[role="main"] {
    width: 80%;
    float: left;
    z-index: 10;
    background: #f6f6f6 url(http://f.cl.ly/items/0G3l1S3d0K39232G0p1W/generated.png) 0 0 repeat;
    height: 100%;
    padding: 0 10px;
    margin-top: -1.5em;
}

[role="main"] h1 {
    font-size: 20px;
    margin: 20px;
}

    [role="main"] h1 span {
        font-style: oblique;
        font-size: 14px;
    }

[role="complimentary"] {
    width: 20%;
    float: right;
    padding: 20px 10px 10px;
}

[role="complimentary"] p {
    font-weight: bold;
}

input[type=checkbox] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute
}[for="width_sidebar"] {
    background: #ccc;
    display: inline;
    float: left;
    margin-left: 79.9%;
    position: relative;
    top: 0;
    cursor: pointer;
    height: 22px;
    padding: 2px 4px;
    text-align: center;
    color: #fff;
    line-height: 1.5em
}[for="width_sidebar"]:hover {
    background: #888;
}[for="width_sidebar"] span:nth-of-type(1) {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute
}[for="width_sidebar"] span:nth-of-type(3) {
    display: none;
    visibility: hidden;
    padding: 0px 4px 2px;
    color: #fff;
    height: 20px;
    cursor: pointer;
}

input[type=checkbox]:checked ~ [role="complimentary"] {
    display: none;
}

input[type=checkbox]:checked ~ [role="main"] {
    width: 100%;
    box-shadow: none
}

input[type=checkbox]:checked ~ [for="width_sidebar"] {
    float: right
}

input[type=checkbox]:checked ~ [for="width_sidebar"] span:nth-of-type(3) {
    display: block;
    visibility: visible
}

input[type=checkbox]:checked ~ [for="width_sidebar"] span:nth-of-type(2) {
    display: none;
    visibility: hidden
}

#coffees {
    width: 350px;
    margin: 70px auto;
    border-spacing: 5px;
}

    #coffees th {
        width: 80px;
    }

    #coffees td {
        height: 70px;
        width: 80px;
        border-radius: 3px;
        text-align: center;
        cursor: pointer;
        display: none;
    }

     #coffees tbody td:first-letter {
        font-size: 16px;
        font-weight: bold;
    }

    #coffees tbody td:not(.selected) {
        border: solid 1px #ccc;
        background: #fff;
    }

#coffees td.Livanto, div.Livanto { color: #fff; background: #8E441A; border-color: #8E441A}
#coffees td.Roma, div.Roma { color: #fff; background: #403C2E; border-color: #403C2E}
#coffees td.Arpeggio, div.Arpeggio { color: #fff; background: #5F3E63; border-color: #5F3E63}
#coffees td.Ristretto, div.Ristretto { color: #fff; background: #25281D; border-color: #25281D}
#coffees td.int, div.int { color: #fff; background: #7C262A; border-color: #7C262A}
#coffees td.Deca, div.Deca { color: #fff; background: #531912; border-color: #531912}
#coffees td.lun, div.lun { color: #fff; background: #703022; border-color: #703022}
#coffees td.Fortissio, div.Fortissio { color: #fff; background: #1D3E2F; border-color: #1D3E2F}
#coffees td.Vivalto, div.Vivalto { color: #fff; background: #334F81; border-color: #334F81}
#coffees td.Finezzo, div.Finezzo { color: #fff; background: #AF9637; border-color: #AF9637}
#coffees td.Indriya, div.Indriya { color: #fff; background: #56543F; border-color: #56543F}
#coffees td.Rosabaya, div.Rosabaya { color: #fff; background: #A66F77; border-color: #A66F77}
#coffees td.Dulsao, div.Dulsao { color: #fff; background: #977551; border-color: #977551}
#coffees td.Cosi, div.Cosi { color: #fff; background: #2A1D13; border-color: #2A1D13}
#coffees td.Volluto, div.Volluto { color: #fff; background: #896A2E; border-color: #896A2E}
#coffees td.Capriccio, div.Capriccio { color: #fff; background: #384B34; border-color: #384B34}
#coffees td.Kazaar, div.Kazaar { color: #fff; background: #15366C; border-color: #15366C}

#coffees tfoot {
    padding: 20px;
}

#coffees tfoot td {
    height: 50px;
    background: #ccc;
    color: #fff;
}

    #coffees tfoot td:hover {
        background: #888;
    }

#slider {
    margin-bottom: 20px;
}

#slider th {
    text-align: left;
}

#slider td {
    padding: 0 3px;
    border-right: 0;
    font-size: 10px;
}

.dec, .inc {
    cursor: pointer;
}

#slider td input {
    width: 30px;
    text-align: center;
    border: solid 1px #abadb3;
    border-radius: 15px;
    font-size: 10px;
}

#slider td:nth-child(1){
    border-radius: 3px;
}

#slider td:nth-child(2){
    padding-left: 20px;
}

#slider td:nth-child(3){
    padding: 0;
}

tr:hover td.Livanto, dd.Livanto { color: #fff; background: #8E441A;}
tr:hover td.Roma, dd.Roma { color: #fff; background: #403C2E;}
tr:hover td.Arpeggio, dd.Arpeggio { color: #fff; background: #5F3E63;}
tr:hover td.Ristretto, dd.Ristretto { color: #fff; background: #25281D;}
tr:hover td.int, dd.int { color: #fff; background: #7C262A;}
tr:hover td.Deca, dd.Deca { color: #fff; background: #531912;}
tr:hover td.lun, dd.lun { color: #fff; background: #703022;}
tr:hover td.Fortissio, dd.Fortissio { color: #fff; background: #1D3E2F;}
tr:hover td.Vivalto, dd.Vivalto { color: #fff; background: #334F81;}
tr:hover td.Finezzo, dd.Finezzo { color: #fff; background: #AF9637;}
tr:hover td.Indriya, dd.Indriya { color: #fff; background: #56543F;}
tr:hover td.Rosabaya, dd.Rosabaya { color: #fff; background: #A66F77;}
tr:hover td.Dulsao, dd.Dulsao { color: #fff; background: #977551;}
tr:hover td.Cosi, dd.Cosi { color: #fff; background: #2A1D13;}
tr:hover td.Volluto, dd.Volluto { color: #fff; background: #896A2E;}
tr:hover td.Capriccio, dd.Capriccio { color: #fff; background: #384B34;}
tr:hover td.Kazaar, dd.Kazaar { color: #fff; background: #15366C;}

/* FORM */
form {
    margin-bottom: 20px;
}

form input {
    border: solid 1px #ccc;
    border-radius: 3px;
    margin: 3px;
    padding: 3px;
    width: 130px;
    font-style: italic;
}

[role="complimentary"] a {
    background: #ccc;
    color: #fff;
    border-radius: 3px;
    font-size: 10px;
    width: 130px;
    margin: 3px;
    display: block;
    text-align: center;
}

    [role="complimentary"] a:hover {
        background: #888;
    }

[role="complimentary"] p {
    margin-bottom: 5px;
}

#chooseStrength {
    width: 120px;
}

    #chooseStrength span {
        width: 20px;
        height: 17px;
        font-weight: normal;
        display: inline-block;
        text-align: center;
        line-height: 14px;
        cursor: pointer;
        padding: 1px 2px;
        margin-bottom: 2px;
    }

        #chooseStrength span:hover {
            background: #ddd;
            color: #fff;
        }


        #chooseStrength span.selected {
            background: #ccc;
             color: #fff;
        }

        #chooseStrength span:nth-child(1):hover {
            /*pointer-events: none;*/
            background: transparent;
            color: #666;
        }

.tooltip {
    white-space: nowrap;
    background: #000;
    color: #fff;
    font-size: 10px;
    font-family: Candara;
    font-weight: bold;
    text-align: center;
    padding: 1px 5px;
    border-radius: 3px;
}


#verdict {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 11;
}

    #close {
        float: right;
        font-weight: bold;
        font-size: 16px;
        padding: 10px;
        cursor: pointer;
    }

    #verdict h1 {
        color: #fff;
        margin: 100px 0 50px;
        text-align: center;
    }

        #verdict h1 span {
            font-size: 16px;
            font-style: italic;
        }

#scale {
    width: 600px;
    margin: 100px auto 130px;
    empty-cells: show;
    font-weight: bold;
}

    #scale td {
        border: solid 1px #fff;
        width: 50px;
        height: 10px;
    }

    #scale td.nob {
        border: solid 1px transparent;
    }

.button {
    background: #666;
    text-align: center;
    display: block;
    color: #fff;
    padding: 10px 3px;
    text-decoration: none;
    border-radius: 5px;
    width: 560px;
    margin: 0 auto;
}

    #cafes p:hover, .button:hover {
        background: #777;
    }

#boutons .button {
    background: #fff;
    color: #666;
    width: 250px;
    margin: 10px;
    display: inline-block;
    padding: 15px 0;
}

#boutons {
    width: 560px;
    margin: 0 auto;
    padding-left: 15px;
}

    #boutons .button:hover {
        font-weight: bold;
    }

/* MODAL BOX */
.jav-overlay {
    z-index: 9998;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=75); 
    opacity: 0.75;
    background-color: #333;
    margin: 0;
    position: fixed;
    left: 0;
    top: 0;
}

.modal {
    padding: 20px;
    background-color: #fafafa;
    z-index: 9999;
    border: solid 7px #666;
    border-radius: 14px;
    display: none;
    position: fixed;
    box-shadow: 0 0 1em #333;
     width: 700px;
}

    .modal h2 {
        text-align: left;
        margin: 0 0 20px 0;
    }

        .modal h2 a {
            font-size: 12px;
            font-weight: normal;
            font-style: italic;
            color: #666;
        }

            a:hover {
                text-decoration: none;
            }

.closeCross { 
    cursor: pointer;
    float: right;
    padding: 3px 4px 4px 3px;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
}

    .closeCross:hover {
        background: #666;
    }

/* FOOTER */
footer {
    position: fixed;
    bottom: 10px;
    left: 10px;
    color: #888;
    font-style: italic;
}